body {
  background-color: #62c2c8;
}
button, h1, input, li {
  font-family: 'Montserrat', sans-serif;
}
img {
  border-radius: 50%;
}
input {
  font-size: 14px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 80%;
}
ul {
  padding: 0;
}
ul, li {
  list-style: none;
  padding: 10px;
}


.add {
  background: #64a909;
}
.app {
  background-color: white;
  margin: 3vh auto;
  min-height: 80vh;
  width: 400px;
}
.btn {
  border: none;
  color: white;
  font-size: 16px;
  margin-top: 15px;
  padding: 7px;
  width: 65%;
}
.container, .form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
}
.crossed {
  background-color: #f0f0f0;
  text-decoration: line-through 2px tomato;
}
.delete {
  background: #fe505b;
}